.thumbnail {
  text-align: center;
}
#profile {
  width: 200px;
  margin-top: 5% ;
}

.tableIndex {
  margin-top: 2%;
  font-size: 20px;

}

#source {
  color: black;
}

footer {
  min-height: 100px;
  text-align: center;
  font-size: 20px;
  background-color: lightgrey;
}

.paragraph {
  font-weight:bold;
  font-size: 20px;
  padding: 2%;
}

.bookForm {
  width: 100px;

}

.textContainer {
  margin-top: 5%;
  margin-bottom: 5%;
}

/* tablesort css */

th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
